<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudyBuddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <StudyBuddy.Properties.Settings>
            <setting name="backButtonPressed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentSelectedQuiz" serializeAs="String">
                <value />
            </setting>
            <setting name="availableQuizzes" serializeAs="String">
                <value />
            </setting>
            <setting name="editMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timerVisibilityEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuizDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="question1Save" serializeAs="String">
                <value />
            </setting>
            <setting name="answer1Save" serializeAs="String">
                <value />
            </setting>
            <setting name="question2Save" serializeAs="String">
                <value />
            </setting>
            <setting name="answer2Save" serializeAs="String">
                <value />
            </setting>
            <setting name="question3Save" serializeAs="String">
                <value />
            </setting>
            <setting name="answer3Save" serializeAs="String">
                <value />
            </setting>
            <setting name="question4Save" serializeAs="String">
                <value />
            </setting>
            <setting name="answer4Save" serializeAs="String">
                <value />
            </setting>
            <setting name="question5Save" serializeAs="String">
                <value />
            </setting>
            <setting name="answer5Save" serializeAs="String">
                <value />
            </setting>
            <setting name="question6Save" serializeAs="String">
                <value />
            </setting>
            <setting name="answer6Save" serializeAs="String">
                <value />
            </setting>
            <setting name="question7Save" serializeAs="String">
                <value />
            </setting>
            <setting name="answer7Save" serializeAs="String">
                <value />
            </setting>
            <setting name="question8Save" serializeAs="String">
                <value />
            </setting>
            <setting name="answer8Save" serializeAs="String">
                <value />
            </setting>
            <setting name="question9Save" serializeAs="String">
                <value />
            </setting>
            <setting name="answer9Save" serializeAs="String">
                <value />
            </setting>
            <setting name="question10Save" serializeAs="String">
                <value />
            </setting>
            <setting name="answer10Save" serializeAs="String">
                <value />
            </setting>
            <setting name="enableHintsCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nightMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skipEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skipsLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="currentUser" serializeAs="String">
                <value />
            </setting>
            <setting name="currentSelectedOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hintTries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rememberUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changeCurrentUser" serializeAs="String">
                <value>False</value>
            </setting>
        </StudyBuddy.Properties.Settings>
    </userSettings>
</configuration>